@import 'breakpoints';
@import 'display';
@import 'reset';

.see-more {
  color: #212427;
  border-bottom: 1px solid #212427;
}

.see-more:hover {
  color: #41474d;
  border-bottom: 1px solid #212427;
}

.nav-link {
  padding: 8px 10px 8px 10px;
}

.nav-link:hover {
  padding: 7px 9px 7px 9px;
  border: 1px solid white;
  border-radius: 6px;
  border-image: linear-gradient(90deg, white 22%, #0000 0 80%, white 0) 1;
}

/* .nav-wrapper { */
/*   z-index: 20; */
/*   position: absolute; */
/*   height: 104px; */
/*   width: 100%; */
/* } */
/**/
/* .nav { */
/*   display: flex; */
/*   height: 100%; */
/*   align-items: center; */
/*   padding: 0px 2rem; */
/* } */
/**/
/* .nav-logo { */
/*   flex-grow: 1; */
/*   color: white; */
/* } */
/**/
/* .nav-items-container { */
/*   display: flex; */
/* } */
/**/
/* .nav-item { */
/*   margin-right: 1.5rem; */
/* } */

